## ADDIDAS ANALISIS

In [3]:
!wget https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx

--2025-09-10 18:55:32--  https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx [following]
--2025-09-10 18:55:32--  https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 693038 (677K) [application/octet-stream]
Saving to: ‘Adidas US Sales Datasets.xlsx’

Adidas US Sales Dat 100%[===================>] 676.79K  --.-KB/s    in 0.009s

2025-09-10 18:55:32 (70.4 MB/s) - ‘Adidas US Sales Datasets.xlsx’ saved [693038/693038]

In [4]:
import pandas as pd
data = pd.read_excel("Adidas US Sales Datasets.xlsx")

In [5]:
data.head(3)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store

0. Cuantas filas y columnas tiene la tabla?

In [6]:
data.shape

(9648, 13)

0.1 Cual es la unidad de observación de la tabla?

Esta clasificado con diferentes facturas en una mismo retail

1. Cuales fueron las ventas totales?

In [7]:
data['Total Sales'].sum()

np.float64(899902125.0)

1.1 Cuanto fue la ganancia operacional total?

In [8]:
data['Operating Profit'].sum()

np.float64(332134761.45000005)

1.2 Cuanto fue el margen promedio total ?

In [9]:
data['Operating Margin'].mean()

np.float64(0.42299129353233833)

1.3 Por que el margen promedio y no el total. Explique con palabras

El margen total no tiene sentido, debido a que cada factura o producto tiene un margen unico, el sumarlos realmente no nos da un valor logico, en cambio el promedio nos habla del rendimiento de cada producto

2. Cuales fueron las ventas totales por Retailer?

In [10]:
data.groupby("Retailer")["Total Sales"].sum()

Retailer
Amazon            77698912.0
Foot Locker      220094720.0
Kohl's           102114753.0
Sports Direct    182470997.0
Walmart           74558410.0
West Gear        242964333.0
Name: Total Sales, dtype: float64

2.1 Cual fue la ganancia operacional total por retailer?

In [11]:
data.groupby("Retailer")["Operating Profit"].sum()

Retailer
Amazon           28818503.31
Foot Locker      80722124.81
Kohl's           36811252.58
Sports Direct    74332954.96
Walmart          25782052.61
West Gear        85667873.18
Name: Operating Profit, dtype: float64

2.3 Tomando los dos resultados de arriba: El ganancia operacional total y las ventas totales divida ambos resultados. Le tiene que dar el margen total de cada Retailer.

In [12]:
data.groupby("Retailer")["Total Sales"].sum()/data.groupby("Retailer")["Operating Profit"].sum()

Retailer
Amazon           2.696147
Foot Locker      2.726572
Kohl's           2.774009
Sports Direct    2.454779
Walmart          2.891873
West Gear        2.836120
dtype: float64

2.4 Cual fue el margen operacional promedio por retailer?

In [13]:
data.groupby("Retailer")["Operating Margin"].mean()

Retailer
Amazon           0.417871
Foot Locker      0.417933
Kohl's           0.419291
Sports Direct    0.444892
Walmart          0.406534
West Gear        0.417856
Name: Operating Margin, dtype: float64

2.5 Por que los dos resultados anteriores le dieron diferente? Argumente

El margen operacional calcula el promedio de cada margen de ganancia, mientras que el margen total toma en cuenta los ingresos, considerando el tamaño de cada venta

3.1 Retailer que mas unidades totales vende? Saque cuanto vende en unidades cada retailer y busque el mayor

In [14]:
data.groupby("Retailer")["Units Sold"].sum().sort_values(ascending=False)

Retailer
West Gear        625262
Foot Locker      604369
Sports Direct    557640
Kohl's           287375
Walmart          206225
Amazon           197990
Name: Units Sold, dtype: int64

3.2 Cual fue el producto que mas unidades totales vendió?

In [15]:
data.groupby("Product")["Units Sold"].sum().sort_values(ascending=False)

Product
Men's Street Footwear        593320
Men's Athletic Footwear      435526
Women's Apparel              433827
Women's Street Footwear      392269
Women's Athletic Footwear    317236
Men's Apparel                306683
Name: Units Sold, dtype: int64

3.3 Cual es el metodo de venta que mas ventas totales tuvo y más ventas promedio

In [16]:
data.groupby("Sales Method")["Total Sales"].sum().sort_values(ascending=False)

Sales Method
In-store    356643750.0
Outlet      295585493.0
Online      247672882.0
Name: Total Sales, dtype: float64

3.4 Cual Fue el estado que más ventas totales tuvo ?

In [17]:
data.groupby("State")["Total Sales"].sum().sort_values(ascending=False)

State
New York          64229039.0
California        60174133.0
Florida           59283714.0
Texas             46359746.0
South Carolina    29285637.0
Washington        26330718.0
North Carolina    23956531.0
Louisiana         23750781.0
Hawaii            22282457.0
Virginia          21575040.0
Oregon            21349674.0
Colorado          20996536.0
Nevada            20858509.0
New Mexico        19865016.0
Idaho             19276878.0
Georgia           18997466.0
Michigan          18625433.0
Wyoming           18577517.0
Ohio              18484583.0
Tennessee         18067440.0
Alabama           17633424.0
New Hampshire     16411667.0
Arizona           15782221.0
Montana           15710886.0
Mississippi       15591709.0
Alaska            14753103.0
Vermont           14352923.0
Arkansas          12639347.0
Delaware          12298412.0
Connecticut       11573448.0
Massachusetts     11076810.0
West Virginia     10689160.0
Oklahoma          10620734.0
Pennsylvania      10357519.0
Kentucky          10072848.0
Kansas             9972864.0
New Jersey         9934246.0
Illinois           9797488.0
Utah               9696420.0
Missouri           9683265.0
Maine              9195978.0
Indiana            8836198.0
South Dakota       8495576.0
Rhode Island       8446806.0
Maryland           7758059.0
North Dakota       7735580.0
Wisconsin          7727469.0
Iowa               7424011.0
Minnesota          7378068.0
Nebraska           5929038.0
Name: Total Sales, dtype: float64

4. Teniendo en cuenta los resultados de arriba: 1. Tome el Retailer que vendio
mas 2. El estado que vendio mas 3.el producto que vendio mas y el metodo de ventas que vendio más 4. Filtre y genere un dataframe con ellos 5. llamelo como un nuevo dataframe

In [28]:
top_retailer = data.groupby("Retailer")["Total Sales"].sum().sort_values(ascending=False).head(1)
top_state = data.groupby("State")["Total Sales"].sum().sort_values(ascending=False).head(1)
top_product = data.groupby("Product")["Units Sold"].sum().sort_values(ascending=False).head(1)
top_sales_method = data.groupby("Sales Method")["Total Sales"].sum().sort_values(ascending=False).head(1)

print("Top Retailer:\n", top_retailer)
print("\nTop State:\n", top_state)
print("\nTop Product:\n", top_product)
print("\nTop Sales Method:\n", top_sales_method)

retailer_name = top_retailer.index[0]
state_name = top_state.index[0]
product_name = top_product.index[0]
sales_method_name = top_sales_method.index[0]

filtered_df = data[
    (data["Retailer"] == retailer_name) &
    (data["State"] == state_name) &
    (data["Product"] == product_name) &
    (data["Sales Method"] == sales_method_name)]

print(filtered_df)

Top Retailer:
 Retailer
West Gear    242964333.0
Name: Total Sales, dtype: float64

Top State:
 State
New York    64229039.0
Name: Total Sales, dtype: float64

Top Product:
 Product
Men's Street Footwear    593320
Name: Units Sold, dtype: int64

Top Sales Method:
 Sales Method
In-store    356643750.0
Name: Total Sales, dtype: float64
       Retailer  Retailer ID Invoice Date     Region     State    City  \
1443  West Gear      1185732   2021-03-08  Northeast  New York  Albany
1449  West Gear      1185732   2021-04-09  Northeast  New York  Albany
1455  West Gear      1185732   2021-05-08  Northeast  New York  Albany
1461  West Gear      1185732   2021-06-10  Northeast  New York  Albany
1467  West Gear      1185732   2021-07-08  Northeast  New York  Albany
1473  West Gear      1185732   2021-08-09  Northeast  New York  Albany
1479  West Gear      1185732   2021-09-08  Northeast  New York  Albany
1485  West Gear      1185732   2021-10-10  Northeast  New York  Albany
1491  West Gear      1185732   2021-11-09  Northeast  New York  Albany
1497  West Gear      1185732   2021-12-08  Northeast  New York  Albany

                    Product  Price per Unit  Units Sold  Total Sales  \
1443  Men's Street Footwear            45.0         870     391500.0
1449  Men's Street Footwear            45.0         825     371250.0
1455  Men's Street Footwear            55.0         870     478500.0
1461  Men's Street Footwear            60.0         875     525000.0
1467  Men's Street Footwear            65.0         950     617500.0
1473  Men's Street Footwear            65.0         925     601250.0
1479  Men's Street Footwear            55.0         850     467500.0
1485  Men's Street Footwear            60.0         800     480000.0
1491  Men's Street Footwear            60.0         775     465000.0
1497  Men's Street Footwear            65.0         875     568750.0

      Operating Profit  Operating Margin Sales Method
1443          176175.0              0.45     In-store
1449          167062.5              0.45     In-store
1455          215325.0              0.45     In-store
1461          236250.0              0.45     In-store
1467          277875.0              0.45     In-store
1473          270562.5              0.45     In-store
1479          210375.0              0.45     In-store
1485          216000.0              0.45     In-store
1491          209250.0              0.45     In-store
1497          255937.5              0.45     In-store